<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Intérieur moderne
                        <span clsas="d-block">Design</span>
                    </h1>
                    <p class="mb-4">Transformez votre intérieur avec notre collection exclusive de sofas, alliant confort et élégance. Chaque pièce est conçue pour offrir un confort inégalé et s’adapter parfaitement à votre style de vie.</p>
                    <p>
                        <a href="" class="btn btn-secondary me-2">Achetez maintenant</a>
                        <a href="#" class="btn btn-white-outline">Explorer</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{{asset('images/couch.png')}}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->